<h3>Smart-home control panel<h3/>
    <form method="post" action="/">
        <input type="submit" value="Toggle lights" name="togglelights"/>
    </form>
    <form method="post" action="/">
      <input type="submit" value="Turn Kodi off" name="kodioff"/>
      <input type="submit" value="🔇" name="kodimute">
    </form>
    <form method="post" action="/">
      <input type="submit" value="🔉" name="voldown">
      <input type="submit" value="⬆️" name="uparrow">
      <input type="submit" value="🔊" name="volup">
    </form>
    <form method="post" action="/">
      <input type="submit" value="⬅️" name="leftarrow">
      <input type="submit" value="O" name="selectelement"/>
      <input type="submit" value="➡️" name="rightarrow">
    </form>
    <form method="post" action="/">
      <input type="submit" value="🔙" name="backbtn">
      <input type="submit" value="⬇️" name="downarrow">
      <input type="submit" value="🏠" name="homebtn">
    </form>
    <form method="post" action="/">
      <input type="submit" value="Play/Pause" name="playpausebtn">
    </form>
